body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	color: pink;
}

a {
  color: #00B7FF;
}

.tweet {
	display: block;
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.tweet img {
	float: left;
	margin-right: 1em;
}

.tweet a {
	color: #55ACEE;
	text-decoration: none;
}

.tweet p {
	color: #4a4a4a;
}
