body {
	padding: 50px;
	font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	color: black;
}

a {
  color: #00B7FF;
}

form {

}

button {
	padding: .5em;
	border-radius: 5px;
	border: 0px solid #f1f0ee;
	font-size: 1.25em;
}

.search {
	margin-left: 1em;
}

.trends {
	display:block;
	background: #4FC3F7;
	color: #fff;
}

input {
	font-size: 1.5em;
	margin-left: 1em;
	border: 0;
	border-bottom: 1px solid grey;
}

.tweet {
	display: block;
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.tweet img {
	float: left;
	margin-right: 1em;
}

.tweet a {
	color: #55ACEE;
	text-decoration: none;
}

.tweet p {
	color: #4a4a4a;
}

.switch {
	padding: 2em;
	margin: 1em 0;
	text-align: center;
	border: 1px solid #f1f0ee;
	color: #f1f0ee;
	background: #C55851;
	cursor: pointer;
}

.switch.on {
	background: #72D572;
}

