body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100%;
}

h1 {
	color: pink;
	position: absolute;
	top: 10%;
	left: 10%;
}

a {
  color: #00B7FF;
}

.content {
	height: 100%;
	width: 100%;
}

.tweet {
	display: block;
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.tweet img {
	float: left;
	margin-right: 1em;
}

.tweet a {
	color: #55ACEE;
	text-decoration: none;
}

.tweet p {
	color: #4a4a4a;
}
